In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as sts
from collections import Counter
from sklearn.metrics import mean_squared_error
import scipy as scipy
import math
import itertools

In [101]:
X = []
Y = []

for _ in range(2):
    X.append(5)
    Y.append(10)

for _ in range(5):
    X.append(5)
    Y.append(20)

for _ in range(3):
    X.append(5)
    Y.append(30)

for _ in range(4):
    X.append(10)
    Y.append(20)

for _ in range(8):
    X.append(10)
    Y.append(30)

for _ in range(3):
    X.append(10)
    Y.append(40)

for _ in range(1):
    X.append(15)
    Y.append(20)

for _ in range(6):
    X.append(15)
    Y.append(30)

for _ in range(6):
    X.append(15)
    Y.append(40)

for _ in range(2):
    X.append(15)
    Y.append(50)

for _ in range(3):
    X.append(20)
    Y.append(30)

for _ in range(6):
    X.append(20)
    Y.append(40)

for _ in range(1):
    X.append(20)
    Y.append(50)

df = pd.DataFrame({
    'X': X,
    'Y': Y
})
df

     X   Y
0    5  10
1    5  10
2    5  20
3    5  20
4    5  20
5    5  20
6    5  20
7    5  30
8    5  30
9    5  30
10  10  20
11  10  20
12  10  20
13  10  20
14  10  30
15  10  30
16  10  30
17  10  30
18  10  30
19  10  30
20  10  30
21  10  30
22  10  40
23  10  40
24  10  40
25  15  20
26  15  30
27  15  30
28  15  30
29  15  30
30  15  30
31  15  30
32  15  40
33  15  40
34  15  40
35  15  40
36  15  40
37  15  40
38  15  50
39  15  50
40  20  30
41  20  30
42  20  30
43  20  40
44  20  40
45  20  40
46  20  40
47  20  40
48  20  40
49  20  50

In [136]:
sd_X = np.std(df.X, ddof=1)
sd_Y = np.std(df.Y, ddof=1)
r = np.corrcoef(X, Y)[1][0]
n = len(df.X)
mean_X = np.mean(df.X)
mean_Y = np.mean(df.Y)
a = r * (sd_Y/sd_X)
b = mean_Y - a * mean_X

print(f'n = {n}')
print(f'sd_X = {sd_X}')
print(f'sd_Y = {sd_Y}')
print(f'r = {r}')
print(f'y = {round(a,2)} * x + {round(b, 2)}')

n = 50
sd_X = 5.175491695067657
sd_Y = 9.4782242373705
r = 0.6344467376059818
y = 1.16 * x + 16.88

In [103]:
df['y_pred'] = a * df['X'] + b
MSE = mean_squared_error(df['Y'], df['y_pred'])
print(f'MSE = {MSE}')

MSE = 52.60190476190476

In [114]:
corr_tabel = pd.crosstab(df.Y, df.X)
corr_tabel

X   5   10  15  20
Y
10   2   0   0   0
20   5   4   1   0
30   3   8   6   3
40   0   3   6   6
50   0   0   2   1

In [105]:
corr_table_np = np.array(corr_tabel)
corr_table_np

array([[2, 0, 0, 0],
       [5, 4, 1, 0],
       [3, 8, 6, 3],
       [0, 3, 6, 6],
       [0, 0, 2, 1]])

In [133]:
x_mean_group = sorted(list(set(df.X)))
y_mean_group = sorted(list(set(df.Y)))

n_len_X = len(x_mean_group)
n_len_Y = len(y_mean_group)

print(f'y_mean_group = {y_mean_group}')
print(f'x_mean_group = {x_mean_group}')
print(f'n_len_X = {n_len_X}')
print(f'n_len_Y = {n_len_Y}')
corr_tabel

y_mean_group = [10, 20, 30, 40, 50]
x_mean_group = [5, 10, 15, 20]
n_len_X = 4
n_len_Y = 5

X   5   10  15  20
Y
10   2   0   0   0
20   5   4   1   0
30   3   8   6   3
40   0   3   6   6
50   0   0   2   1

In [169]:
y_5 = ((10 * 2) + (20 * 5) + (30 * 3)) / 10
y_10 = ((20 * 4) + (30 * 8) + (40 * 3)) / 15
y_15 = (20 + (30 * 6) + (40 * 6) + (50 * 2)) / 15
y_20 = ((30 * 3) + (40 * 6) + 50) / 10

Y_x = [y_5, round(y_10, 2), y_15, y_20]
n_x = [10, 15, 15, 10]
n_y = [2, 10, 20, 15, 3]

print(Y_x)

[21.0, 29.33, 36.0, 38.0]

In [170]:
D_between = 0
for index, y in enumerate(Y_x):
    D_between += n_x[index] * (y - mean_Y)**2 / n

D_general = 0
for index, y in enumerate(df.Y):
    D_general += n_y[index] * (y - mean_Y)**2 / n

print(np.var(df.Y, ddof=1))
print(f'D_between = {D_between}')
print(f'D_general = {D_general}')

IndexError: list index out of range

In [171]:
n_y_x = D_between/D_general
print(f'n_y_x = {n_y_x}')
df[['Y', 'X']].corr()

n_y_x = 0.18198902626030292

          Y         X
Y  1.000000  0.634447
X  0.634447  1.000000

In [183]:
print(f'sd_Y = {sd_Y}')
sd = np.std(Y_x)
print(sd)
print(sd/sd_Y)

sd_Y = 9.4782242373705
6.647587438311737
0.7013536788992394